{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        {% for quiz in quizzes %}
            <li>
                <a href="{{ path('show_quiz', {'id': quiz.id}) }}">{{ quiz.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
